<div id="program1">
    <%= image_tag("program1.jpg") %>
    <%= link_to "Know More", action_user_details_path, remote: true %>
    <h3 class="title"><%= t('program1_title') %></h3>
    <p class="desc"><%= t('program1_desc') %></p>
</div>

<div id="program2">
    <%= image_tag("program2.jpg") %>
    <%= link_to "Know More", action_user_details_path, remote: true %>
    <h3 class="title"><%= t('program2_title') %></h3>
    <p class="desc"><%= t('program2_desc') %></p>
</div>
